@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    color: rgb(104, 100, 100);
}

img {
    max-width: 100%;
}

p {
    margin-bottom: 0.8rem;
}

html {
    font-size: 20px;
    scroll-behavior: smooth;
}

@media (max-width: 440px) {
    html {
        font-size: 20px;
    }
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-end {
    display: flex;
    justify-content: end;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Hero */

@keyframes animationHero {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    12% {
        opacity: 1;
    }
    25% {
        transform: scale(1.2);
    }
    75% {
        opacity: 0;
        transform: scale(1.1);
    }
    100% {
        opacity: 0;
    }
}

.hero {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.hero div {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: none;
    opacity: 0;
    animation: animationHero 18s infinite;
}

.hero div:nth-child(1) {
    background-image: url('../img/toma1.jpg');
}

.hero div:nth-child(2) {
    background-image: url('../img/toma2.jpg');
    animation-delay: 6s;
}

.hero div:nth-child(3) {
    background-image: url('../img/toma3.jpg');
    animation-delay: 12s;
}

.hero .hero-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    animation: none;
    transform: translate(-50%, -50%);
    width: 30%;
    height: auto;
}

.hero .hero-down {
    position: absolute;
    top: 90%;
    left: 52%;
    opacity: 1;
    animation: none;
    transform: translate(-50%, -50%);
    width: 10%;
    height: auto;
}


/* header */

header {
    background-color: rgb(230, 221, 221);
    box-shadow: 1.5px 1.5px 4px rgb(185, 165, 165);
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    transition: all 500ms ease-in-out;
}

header.transparente {
    background-color: rgba(230, 221, 221, 0.301);
    ;
    box-shadow: none;
}

header img {
    margin-top: 1em;
    height: 70px;
    width: auto;
}

header nav a {
    color: #504f55;
    font-weight: normal;
    margin-left: 1em;
    transition: 300ms all ease-in-out;
}

header.transparente nav a {
    color: #dfddeb;
}

header nav a.activo,
header nav a:hover {
    color: #535357;
    font-weight: bold;
    margin-left: 1em;
}

header.transparente nav a.activo,
header.transparente nav a:hover {
    color: #ebebf3;
}


/* Menu lateral */

.burguer {
    position: fixed;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    z-index: 10;
    display: none;
}

.burguer .barra {
    width: 30px;
    height: 2px;
    margin: 6px;
    background-color: orange;
    transition: all 400ms ease-in-out;
}

.burguer.abierto .barra {
    background-color: rgb(105, 103, 103);
}

.burguer.abierto .barra.sup {
    transform: translateY(8px) rotateZ(45deg);
}

.burguer.abierto .barra.med {
    width: 0;
}

.burguer.abierto .barra.inf {
    transform: translateY(-8px) rotateZ(-45deg);
}

.menu {
    width: 360px;
    height: 100vh;
    background-color: rgba(230, 221, 221, 0.774);
    position: fixed;
    top: 0;
    left: -360px;
    padding-top: 80px;
    transition: all 600ms ease-in-out;
}

.menu nav {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.menu a {
    padding: 1rem 0;
    color: black;
    font-size: 1.1rem;
    transition: all 300ms ease-in-out;
}

.menu a:hover {
    color: rgb(180, 179, 179);
    background-color: orange;
}

.menu .copy {
    color: rgb(97, 93, 93);
    font-size: 0.9rem;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
}


/* Layout */

.primera {
    margin-top: 100vh;
}

#primera {
    display: block;
    margin-top: -90px;
    padding-bottom: 90px;
}

.fila {
    display: flex;
    padding: 2rem 1rem;
}

.col-100 {
    width: 100%;
    padding: 0.5rem 1rem;
}

.col-66 {
    width: 66.6666%;
    padding: 0.5rem 1rem;
}

.col-50 {
    width: 50%;
    padding: 0.5rem 1rem;
}

.col-33 {
    width: 33.3333%;
    padding: 0.5rem 1rem;
}


/* Parallax */

.fila.parallax {
    background-image: url('../img/toma2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding: 3rem 2rem;
}

.fila .col-100 {
    background-color: rgba(255, 255, 255, 0.733);
    /*  padding: 2rem 4rem;
    margin: 0 1rem; */
}

.fila.parallax p {
    font-size: 1.5rem;
    color: orange;
    text-align: center;
}


/*  */

.caja-nav img {
    width: 20%;
    margin-bottom: 1em;
}

@media (max-width:720px) {
    .fila {
        align-items: center;
    }
    .caja-nav.col-50 {
        width: 70%;
        padding: 0;
    }
}

@media (max-width:440px) {
    .caja-nav.col-50 {
        width: 100%;
        padding: 0;
    }
}

.caja-nav a {
    border: 1px solid orange;
    background-color: white;
    color: orange;
    font-size: 1rem;
    font-weight: normal;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.caja-nav a:hover {
    background-color: orange;
    color: white;
}


/* Formulario */

form.contacto {
    width: 50%;
}

form.contacto .fila {
    padding: 1rem;
}

input {
    border: none;
    border-bottom: 1.5px solid orange;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    width: 100%;
}

input:focus {
    outline: none;
    border-bottom: 1.8px solid rgb(233, 68, 2);
}

input.usuario {
    background-image: url('../img/user.svg');
    background-repeat: no-repeat;
    background-position: 0 2px;
    padding-left: 2.5em;
}

input.email {
    background-image: url('../img/mail.svg');
    background-repeat: no-repeat;
    background-position: 0 2px;
    padding-left: 2.5em;
}

button {
    border: none;
    background-color: orange;
    color: white;
    font-size: 1rem;
    font-weight: normal;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

button:hover {
    background-color: white;
    color: orange;
    border: 1px solid orange;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label::before {
    content: url('../img/square.svg');
    position: relative;
    top: 12px;
    padding-right: 5px;
}

input[type="checkbox"]:checked+label::before {
    content: url('../img/check-square.svg');
}


/* Footer */

footer {
    background-color: #504f55;
    color: white;
}

footer p:first-child {
    color: orange;
    font-size: 1.5rem;
}

footer p.flex-start img {
    margin-right: 6px;
}

footer .content {
    display: flex;
    flex-direction: column;
}

footer .redes {
    width: 15%;
}

@media (max-width:720px) {
    .hero .hero-logo {
        width: 80%;
    }
    .hero .hero-down {
        width: 15%;
        left: 55%;
    }
    .burguer {
        display: block;
    }
    .menu.abierto {
        left: 0;
    }
    header nav {
        display: none;
    }
    header {
        justify-content: flex-end;
    }
    .fila {
        flex-direction: column;
        padding: 1rem;
    }
    .col-66,
    .col-33 {
        width: 100%;
    }
    form.contacto {
        width: 75%;
    }
}

@media (max-width:400px) {
    .hero .hero-logo {
        width: 90%;
    }
    .hero .hero-down {
        width: 20%;
        left: 55%;
    }
    form.contacto {
        width: 100%;
    }
    form.contacto .fila {
        padding: 0rem;
    }
}


/* Ventas.html */

.card {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 4px gray;
    overflow: hidden;
}

.card img {
    height: 320px;
}

.card .footer-card {
    padding: 0.8rem;
    width: 100%;
    height: 174px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.card .footer-card p {
    margin-bottom: 0.5rem;
}

.card .footer-card p:first-child {
    font-weight: bold;
}

.card .footer-card a {
    background-color: orange;
    color: white;
    font-size: 0.8rem;
    border-radius: 0.3em;
    padding: 0.5em 1em;
    margin-right: 1rem;
    align-self: flex-end;
    transition: all 300ms ease-in-out;
}

.card .footer-card a:hover {
    background-color: orangered;
}

.fila.grid {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    grid-gap: 1rem;
    justify-content: center;
}


/* propiedad.html */

.propiedad::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: url('../img/casa1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -2;
}

.propiedad h1 {
    color: orange;
    margin-bottom: 20px;
}

.propiedad div:first-child {
    width: 40%;
    position: relative;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.87);
    margin-bottom: 10rem;
}

.propiedad div:first-child p img {
    width: 28px;
    height: 28px;
}

.propiedad p img {
    margin-right: 20px;
}


/* contacto.html */

.fila.contacto {
    margin-top: 100px;
}